.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.castItem {
  width: 150px;
  text-align: center;
}

.castImage {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}
